html, body{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(./images/background.jpg);
    background-size: cover;
}
div{
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: right;
    letter-spacing: 0.03em;
    line-height: 1.4em;
    color: white;
}
#container{
    margin-top: 4%;
    margin-right: 11%;
    float: right;
    width: 500px;
}
